.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  width: 95px;
  margin: 13px auto 0;
}

.u-section-1 .u-image-1 {
  width: 237px;
  height: 188px;
  margin: -26px auto 0 40px;
}

.u-section-1 .u-image-2 {
  width: 223px;
  height: 178px;
  margin: -188px 48px 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -126px auto 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 64px auto 0;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -91px auto 0;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 63px auto 0;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 11px auto 0;
}

.u-section-1 .u-image-3 {
  width: 177px;
  height: 177px;
  margin: -85px auto 0 40px;
}

.u-section-1 .u-text-2 {
  margin: -32px 24px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 189px;
  height: 84px;
  margin: 13px 24px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 37px;
  height: 37px;
  margin: -45px auto 57px 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 167px;
    height: 167px;
    margin-top: -29px;
    margin-left: 33px;
  }

  .u-section-1 .u-image-2 {
    width: 169px;
    height: 135px;
    margin-top: -138px;
    margin-right: 55px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -135px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -8px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -22px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 9px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 26px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -74px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: -26px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -126px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 137px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -167px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 60px;
    margin-top: 7px;
  }

  .u-section-1 .u-image-1 {
    width: 77px;
    height: 81px;
    margin-top: 215px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -67px;
    margin-right: 23px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -357px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 146px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -177px;
  }

  .u-section-1 .u-image-3 {
    width: 98px;
    height: 98px;
    margin-top: 146px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 67px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 170px;
    height: 77px;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: -46px;
    margin-bottom: 2px;
  }
}