.u-section-1 .u-sheet-1 {
  min-height: 1383px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-line-1 {
  width: 928px;
  transform-origin: left center;
  border-style: solid;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 53px auto 0;
}

.u-section-1 .u-line-2 {
  width: 928px;
  transform-origin: left center;
  border-style: solid;
  margin: 171px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 75px 129px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -29px 913px 0 149px;
}

.u-section-1 .u-text-5 {
  margin: -28px 529px 0 auto;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 50px;
  background-image: linear-gradient(to right, #478ac9, #9447c9);
  margin: 17px 128px 0 auto;
  padding: 10px 67px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 50px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: linear-gradient(to right, #478ac9, #9447c9);
  margin: -39px 473px 0 auto;
  padding: 10px 67px;
}

.u-section-1 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 50px;
  background-image: linear-gradient(to right, #478ac9, #9447c9);
  margin: 16px 128px 0 auto;
  padding: 10px 67px;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 50px;
  background-image: linear-gradient(to right, #478ac9, #9447c9);
  margin: -39px 473px 0 auto;
  padding: 10px 67px;
}

.u-section-1 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 50px;
  background-image: linear-gradient(to right, #478ac9, #9447c9);
  margin: 15px 128px 0 auto;
  padding: 10px 67px;
}

.u-section-1 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 50px;
  background-image: linear-gradient(to right, #478ac9, #9447c9);
  margin: -39px 473px 0 auto;
  padding: 10px 67px;
}

.u-section-1 .u-btn-7 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 50px;
  background-image: linear-gradient(to right, #478ac9, #9447c9);
  margin: 14px 128px 0 auto;
  padding: 10px 67px;
}

.u-section-1 .u-btn-8 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 50px;
  background-image: linear-gradient(to right, #478ac9, #9447c9);
  margin: -39px 473px 60px auto;
  padding: 10px 67px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 586px;
  }

  .u-section-1 .u-line-2 {
    margin-top: -889px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -704px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 753px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -29px;
    margin-right: 436px;
  }

  .u-section-1 .u-btn-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -40px;
    margin-right: 273px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-right: 273px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-right: 273px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-right: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 577px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 334px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 53px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 53px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 53px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 255px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-top: -950px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -903px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 433px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 24px;
    margin-right: 251px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -1px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -99px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 135px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -99px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 134px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -99px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 859px;
  }

  .u-section-1 .u-line-2 {
    margin-top: -1268px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -298px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -424px;
    margin-right: 273px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 79px;
    margin-right: 158px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 471px;
    margin-right: 76px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -355px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 224px;
    margin-right: 76px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -248px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 62px;
    margin-right: 76px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -286px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 262px;
    margin-right: 76px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -283px;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-2 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-4,
.u-section-1 .u-btn-4:before,
.u-section-1 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-4 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-4.u-btn-4.u-btn-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-4 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-6,
.u-section-1 .u-btn-6:before,
.u-section-1 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-6 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-6.u-btn-6.u-btn-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-6 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-8,
.u-section-1 .u-btn-8:before,
.u-section-1 .u-btn-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-8.u-btn-8.u-btn-8:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-8 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-8.u-btn-8.u-btn-8.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-8 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-3 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-5,
.u-section-1 .u-btn-5:before,
.u-section-1 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-5 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-5.u-btn-5.u-btn-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-5 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-7,
.u-section-1 .u-btn-7:before,
.u-section-1 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-7 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-7.u-btn-7.u-btn-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-1 .u-btn-7 {
  border-style: solid !important;
  border-color: transparent !important;
}