.u-section-1 .u-sheet-1 {
  min-height: 544px;
}

.u-section-1 .u-image-1 {
  width: 661px;
  height: 388px;
  margin: 66px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}